.main {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgb(0, 3, 15);
  color: red;
}

.registerWrapper {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  height: 50px;
  width: 50px;
  background-color: #4b8087;
  color: white;
  border: none;
  font-size: 25px;
  padding: 5px;
}

.registerButton {
  height: 50px;
  width: 200px;
  background-color: #4b8087;
  color: white;
  border: none;
  font-size: 25px;
  padding: 5px;
}

.closeButton:active,
.closeButton:hover,
.registerButton:active,
.registerButton:hover {
  background-color: #315458;
}

.cardWrapper {
  display: flex;
  gap: 25px;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.card {
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 50px;
  background-color: white;
  font-size: 25px;

  &:hover,
  &:active {
    background-color: rgb(206, 206, 206);
  }
}
