@font-face {
  font-family: 'MyriadProBold';
  src: url('../../../../public/fonts/MYRIADPRO-BOLD.otf');
}

@-webkit-keyframes borderBlink {
  from,
  to {
    box-shadow: inset 0px 0px 0px 4px transparent;
  }
  50% {
    box-shadow: inset 0px 0px 0px 4px yellow;
  }
  100% {
    box-shadow: inset 0px 0px 0px 4px transparent;
  }
}
@keyframes borderBlink {
  from,
  to {
    box-shadow: inset 0px 0px 0px 4px transparent;
  }
  50% {
    box-shadow: inset 0px 0px 0px 4px yellow;
  }
  100% {
    box-shadow: inset 0px 0px 0px 4px transparent;
  }
}

.animatePlayerCard {
  opacity: 0.1;
}

.animatePlayerCard-active {
  opacity: 1;
}

.playerCard {
  height: 140px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Myriad Pro', sans-serif;
  font-family: 'MyriadProBold';
  margin-top: 25px;
}

.topRow {
  height: 50px;
  width: 250px;
  border-radius: 8px, 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.middleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 300px;
  background-color: #ef4222;
  border-radius: 8px;
}

.name,
.stack {
  font-size: 28px;
}

.name {
  margin-left: 10px;
}

.stack {
  margin-right: 10px;
}

.bottomRow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 250px;
  background-image: url('../../../../public/images/poker-background.png');
  background-size: 300%;
  background-color: #2b2b2b;
  border-radius: 0 0 8px 8px;
  font-size: 25px;
}

.topRowInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  width: 250px;
  margin-top: 25px;
  background-image: url('../../../../public/images/poker-background.png');
  background-size: 300%;
  background-color: #2b2b2b;
  border-radius: 8px 8px 0 0;
}

.cardOne,
.cardTwo {
  left: 60px;
  position: absolute;
  width: 50px;
}

.cardTwo {
  left: 110px;
}

.position {
  margin-left: 115px;
}

.equity {
  margin-right: 5px;
}

.background {
  position: absolute;
  width: 250px;
  z-index: 1;
}

.activePlayer {
  box-shadow: inset 0px 0px 0px 4px yellow;
  -webkit-animation: borderBlink normal 1.5s infinite ease-in-out;
  animation: borderBlink normal 1.5s infinite ease-in-out;
}

.dotFalling {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ef4222;
  color: #ef4222;
  box-shadow: 9999px 0 0 0 #ef4222;
  animation: dot-falling 2s infinite linear;
  animation-delay: 0.1s;
}
.dotFalling::before,
.dotFalling::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.dotFalling::before {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ef4222;
  color: #ef4222;
  animation: dot-falling-before 2s infinite linear;
  animation-delay: 0s;
}
.dotFalling::after {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ef4222;
  color: #ef4222;
  animation: dot-falling-after 2s infinite linear;
  animation-delay: 0.2s;
}

@keyframes dot-falling {
  0% {
    box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9999px 0 0 0 #ef4222;
  }
  100% {
    box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
  }
}
@keyframes dot-falling-before {
  0% {
    box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9984px 0 0 0 #ef4222;
  }
  100% {
    box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
  }
}
@keyframes dot-falling-after {
  0% {
    box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 10014px 0 0 0 #ef4222;
  }
  100% {
    box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

.hide {
  display: none;
}

.cardsTest {
  color: white;
}
