.settingsNamesRow {
  padding: 4px 4px;
  display: flex;
  justify-content: center;
  height: 100px;
}

.settingsRow {
  padding: 4px 4px;
  display: flex;
  justify-content: center;
  height: 100px;
}
