.communityRow {
  padding: 4px 4px;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.playerInfoRow {
  padding: 4px 4px;
  display: flex;
  justify-content: center;
  height: 100px;
}

.blindsRow {
  padding: 4px 4px;
  display: flex;
  justify-content: center;
  height: 100px;
}

.stackRow {
  padding: 4px 4px;
  display: flex;
  justify-content: center;
  height: 100px;
}
